.apt_generated/
.checkstyle
.classpath
.djunitplugin
.factorypath
.fbprefs
.project
.settings/
build
eclipse.lib/*.jar
jcoverage.ser
src/main/resources/private/*
target/
war/WEB-INF/appengine-generated/local_db.bin
war/WEB-INF/classes/*
war/WEB-INF/lib/*
!ktrwjr.jar
www-test/
