@CHARSET "utf-8";

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.twitter-share-button, 
.google-plus, 
.facebook-like {
  margin-top: 10px;
}

#ical,#ical-webcal {
  margin: 1em;
}