@CHARSET "utf-8";

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.twitter-share-button {
  margin-top: 10px;
  margin-left: 10px;
}

input.caldav-url {
  cursor: auto;
  background-color: #ffffff;
}