@CHARSET "utf-8";

body {
	background-color: #EEEEEE;
	font-size: 1.2em;
	padding: 1.5em;
}

h1 {
    height: 3.3em;
    font-size: x-large;
    font-family: "Times New Roman", Times, serif;
}

.condition,.condition td {
	border: 1px gray solid; 
	padding: 0.5em;
}

.condition {
	border-collapse: collapse;
	margin-bottom: 1em;
}

.condition-title {
	background-color: black;
	color: white;
}

#ical, #ical-webcal {
	margin: 1em;
}