{{define "body" -}}
  <h2 class="mt-5">{{T "title"}}</h2>
  <p class="lead">
  {{T "greeting"}}<br>
	{{T "i_am_sorry_1"}}<a target="_blank" href="https://cloud.google.com/appengine/">Google App Engine</a>/Go{{T "i_am_sorry_2"}}<br>
  {{T "recommend_this_book"}}
  </p>
  <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="{{T "affiliate_link"}}"></iframe>

{{- end}}
