<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>nico2icalはサービスを終了しました</title>
  </head>
  <body>
    <h1>nico2icalはサービスを終了しました</h1>
    <p>
      nico2icalは<a target="_blank" href="http://live.nicovideo.jp/">ニコニコ生放送</a>の放送日程をカレンダーアプリで閲覧できるようにしたくて、私が個人的に欲しくて作ったものですが、私自身ニコニコ生放送をあまり利用しなくなったのと、ソースコードのメンテナンスを行う時間が取れなくなってきたため、サービスを終了させることにしました。<br>
      ソースコードは以下に置いてあるので、サービスを利用したい人はforkして使ってください。<br>
      （ただし、ソースコードに関する質問にお答えできるかは保証できません）
    </p>
    <p><a target="_blank" href="https://github.com/ryu22e/nico2ical">https://github.com/ryu22e/nico2ical</a></p>
    <p>Ryuji Tsutsui@ryu22e</p>
  </body>
</html>
