<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
    <display-name>Archetype Created Web Application</display-name>
    
    <servlet>
        <servlet-name>connectGoogleApi</servlet-name>
        <servlet-class>org.ryu22e.nico2cal.servlet.ConnectGoogleApi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>connectGoogleApiCallback</servlet-name>
        <servlet-class>org.ryu22e.nico2cal.servlet.ConnectGoogleApiCallback</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>connectGoogleApi</servlet-name>
        <url-pattern>/myCalendar/connect/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>connectGoogleApiCallback</servlet-name>
        <url-pattern>/oauth2callback</url-pattern>
    </servlet-mapping>
    
    <context-param>
        <param-name>slim3.rootPackage</param-name>
        <param-value>org.ryu22e.nico2cal</param-value>
    </context-param>
    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
        <param-value>application</param-value>
    </context-param>
    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.request.charset</param-name>
        <param-value>UTF-8</param-value>
    </context-param>
    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.timeZone</param-name>
        <param-value>UTC</param-value>
    </context-param>

    <filter>
        <filter-name>CsrfTokenCookieFilter</filter-name>
        <filter-class>org.ryu22e.nico2cal.filter.CsrfTokenCookieFilter</filter-class>
    </filter>
    <filter>
        <filter-name>CsrfFilter</filter-name>
        <filter-class>org.ryu22e.nico2cal.filter.CsrfFilter</filter-class>
    </filter>
    <filter>
        <filter-name>HotReloadingFilter</filter-name>
        <filter-class>org.slim3.controller.HotReloadingFilter</filter-class>
    </filter>
    <filter>
        <filter-name>DatastoreFilter</filter-name>
        <filter-class>org.slim3.datastore.DatastoreFilter</filter-class>
    </filter>   
    <filter>
        <filter-name>FrontController</filter-name>
        <filter-class>org.slim3.controller.FrontController</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>CsrfTokenCookieFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CsrfFilter</filter-name>
        <url-pattern>/myCalendar/save</url-pattern>
        <url-pattern>/myCalendar/disConnect</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>HotReloadingFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>    
    <filter-mapping>
        <filter-name>DatastoreFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FrontController</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    
    <servlet>
        <servlet-name>GlobalTransactionServlet</servlet-name>
        <servlet-class>org.slim3.datastore.GlobalTransactionServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <!--
    <servlet>
        <servlet-name>GWTServiceServlet</servlet-name>
        <servlet-class>org.slim3.gwt.server.rpc.GWTServiceServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    -->
      
    <servlet-mapping>
        <servlet-name>GlobalTransactionServlet</servlet-name>
        <url-pattern>/slim3/gtx</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>KtrWjrServiceServlet</servlet-name>
        <servlet-class>bufferings.ktr.wjr.server.service.KtrWjrServiceServlet</servlet-class>
    </servlet>
  
    <!--
    <servlet-mapping>
        <servlet-name>GWTServiceServlet</servlet-name>
        <url-pattern>*.s3gwt</url-pattern>
    </servlet-mapping>
    -->
    
    <servlet-mapping>
        <servlet-name>KtrWjrServiceServlet</servlet-name>
        <url-pattern>/ktrwjr/ktrwjr/ktrwjr.s3gwt</url-pattern>
    </servlet-mapping>
  
    <security-constraint>
        <web-resource-collection>
            <url-pattern>*.jsp</url-pattern>
        </web-resource-collection>
        <auth-constraint>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <url-pattern>/slim3/gtx</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <url-pattern>/ktrwjr/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <url-pattern>/GenerateNicolive</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <url-pattern>/GenerateNicoliveIndex</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <url-pattern>/DeleteOldNicoliveIndex</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <url-pattern>/myCalendar/importAll</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <url-pattern>/myCalendar/import</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <url-pattern>/myCalendar/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <url-pattern>/oauth2callback</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint>
    
    <jsp-config>
      <jsp-property-group>
        <url-pattern>*.jsp</url-pattern>
        <el-ignored>false</el-ignored>
        <page-encoding>UTF-8</page-encoding>
        <scripting-invalid>false</scripting-invalid>
        <include-prelude>/common.jsp</include-prelude>
      </jsp-property-group>
    </jsp-config>
</web-app>
